// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";

// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: "Avenir Next", Helvetica, sans-serif;
$headingFont: "Avenir Next", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$linkColor: #fff;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}

// Theme template ------------------------------
@import "../template/theme";

// ---------------------------------------------

.reveal {
  pre {
    code {
      max-height: initial;

      .fragment, .fragment > *{
        color: #65737e !important;
      }

      .fragment.current-fragment,
      .fragment.current-fragment >* {
        color: #EC5f67 !important;
      }
    }
  }


  a {
    text-decoration: none;
    transition: color 0.15s ease;
  }

  a:not(.icon)::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }

  a:not(.icon):hover::after, a:not(.icon):focus::after {
    opacity: 0.5;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  blockquote {
    background: none
  }
}
